In [204]:
def mean(x):
    mean = sum(x)/len(x)
    return mean

In [205]:
list1 = [1,2,4,8,7]
mean(list1)

4.4

In [206]:
import numpy as np

In [207]:
np.mean(list1)

4.4

In [208]:
pip install numpy

Requirement already satisfied: numpy in c:\users\calvin.fan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.24.3)
Note: you may need to restart the kernel to use updated packages.

In [209]:
pip install pandas

Requirement already satisfied: pandas in c:\users\calvin.fan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\calvin.fan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\calvin.fan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\calvin.fan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\calvin.fan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\calvin.fan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [210]:
import pandas as pd
from numpy import median

In [211]:
median(list1)

4.0

In [212]:
np.median(list1)

4.0

In [213]:
dummy_dataframe = pd.DataFrame({'col1':[1,2,3,4], 'col2':[8,7,9,6]})

In [214]:
dummy_series = pd.Series([1,7,8,9,6])

In [215]:
dummy_series

0    1
1    7
2    8
3    9
4    6
dtype: int64

In [216]:
type(dummy_dataframe)

pandas.core.frame.DataFrame

In [217]:
type(dummy_series)

pandas.core.series.Series

In [218]:
type(dummy_dataframe['col1'])

pandas.core.series.Series

In [219]:
dummy_dataframe['col1'].to_list()

[1, 2, 3, 4]

In [220]:
new_list = dummy_dataframe['col1'].to_list()

In [221]:
new_list.extend([5,4,7,8])
updated_dataframe = pd.concat([pd.Series(new_list),dummy_dataframe['col2']], axis=1)

In [222]:
updated_dataframe = pd.concat([pd.Series(new_list),dummy_dataframe['col2']], axis=1)

In [223]:
updated_dataframe.columns = ['col1','col2']

In [224]:
updated_dataframe

   col1  col2
0     1   8.0
1     2   7.0
2     3   9.0
3     4   6.0
4     5   NaN
5     4   NaN
6     7   NaN
7     8   NaN

In [225]:
dummy_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    4 non-null      int64
 1   col2    4 non-null      int64
dtypes: int64(2)
memory usage: 196.0 bytes

In [226]:
dummy_dataframe.index

RangeIndex(start=0, stop=4, step=1)

In [227]:
dummy_dataframe.columns

Index(['col1', 'col2'], dtype='object')

In [228]:
dummy_dataframe.axes

[RangeIndex(start=0, stop=4, step=1), Index(['col1', 'col2'], dtype='object')]

In [229]:
dummy_dataframe.describe()

           col1      col2
count  4.000000  4.000000
mean   2.500000  7.500000
std    1.290994  1.290994
min    1.000000  6.000000
25%    1.750000  6.750000
50%    2.500000  7.500000
75%    3.250000  8.250000
max    4.000000  9.000000

In [230]:
dummy_dataframe.head(2)

   col1  col2
0     1     8
1     2     7

In [231]:
dummy_dataframe.tail(2)

   col1  col2
2     3     9
3     4     6

In [232]:
dict1={'col1':[1,2,87],'col2':[7,6,75,4]}

In [233]:
dict1['col1']

[1, 2, 87]

In [234]:
list[1]

list[1]

In [235]:
dummy_dataframe.iloc[2].loc['col1']

3

In [236]:
dummy_dataframe

   col1  col2
0     1     8
1     2     7
2     3     9
3     4     6

In [237]:
dummy_dataframe.loc[0].iloc[1]

8

In [238]:
dummy_dataframe.index = ['val1','val2','val3','val4']
dummy_dataframe.loc['val1']

col1    1
col2    8
Name: val1, dtype: int64

In [239]:
dummy_dataframe.loc['val1','col1']

1

In [240]:
dummy_dataframe.iloc[1,1]

7

In [242]:
dummy_dataframe.iloc[0:2,1] #slicing a range of rows, and the column in position 1(second position)

val1    8
val2    7
Name: col2, dtype: int64

In [244]:
dummy_dataframe.loc[['val1','val3'],['col1','col2']]

      col1  col2
val1     1     8
val3     3     9

In [245]:
dummy_dataframe.iloc[[0,2],[0,1]]

      col1  col2
val1     1     8
val3     3     9